header {
  background-image: url("/public/images/abstract.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 900px 400px;
}

@media only screen and (min-width: 992px) {
  header {
    background-position: bottom right;
    background-size: 1200px 500px;
  }
}